<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <canvas id="animation-canvas"></canvas>
    <div class="background-overlay"></div>
    <div class="content-overlay">
        <!-- Ihr Content hier -->
         Christopher Keibel
    </div>
    <script src="assets/js/animation.js"></script>
</body>
</html>
